body {
  margin: 0;
  background-color: #0d0d0d;
  font-family: 'Segoe UI', sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
